body {
    margin: 0;
}

.board {
    height: 100vh;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img{
    height: 40px;
}

.level-container{
    margin-top: 30px;
    display: flex;
    font-family: 'Roboto Mono';
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

.level{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid rgb(239, 239, 239);   
}

.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(239, 239, 239); 
}

.difficulty:hover{
    border: 1px solid black;
    cursor: pointer; 
}


.content {
    /* width: 400px;
    height: 70vh; */
    background-color: rgb(239, 239, 239);
    padding: 12px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 10px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid lightgray;
    background-image: url('assets/Buttons/Default.jpg');
    background-size: cover;
    cursor: pointer;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.playground {
    height: calc(100% - 70px);
}

.timer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: black;
    color: red;
    font-family: 'DS-Digital';
    font-size: 40px;
}

.amountOfBombs {
    height: 50px;
    width: 100px;
    background-color: black;
}

.smileyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-image: url('assets/Buttons/Default.jpg');
    background-size: cover;
}

.smiley {
    height: 30px;
}

.rows {
    display: flex;
}

.reveald {
    background-image: url('assets/Buttons/Default.jpg');
}